html,
body {
  height: 100%;
}

.grid_login{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;

}

.grid_title{

  background-color: #4267B2;

  /* background-color: #4267B2; */


}
.grid_title h1 {

  color: #fff;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}


.btn-feisbuk{
  background-color: #4267B2;
  color: #fff;
}
 /*=== inicio_view ===*/

 .inicio_view {
  height: 100vh;
  background-color: #4267B2;
 }
.grid_title a{
  text-decoration: none;
}
.grid_title h1{
  font-size: 7rem;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
}


/*=== Home view ===*/

.navbar-feisbuc{
  background-color: #4267B2;
}

.link-feisbuc{
  color: #fff;
  margin-right: 10px;
  padding: 10px;
}

.logo_home{
  color: #fff;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
}
.logo_home a {
  color: #fff;
  text-decoration: none !important;
}
.link-feisbuc:hover{

  text-decoration: none;
  color: #fff;
  border: solid 1px #fff;
}

.grid_box_1{
  background-color: rgba(219, 219, 219, .3);
  height: 100%;
}

.grid_box_3{
  background-color: rgba(219, 219, 219, .3);
  height: 100%;
}

.grid_home{
  display: grid;
  grid-template-columns: 1fr minmax(100px, 3fr) 1fr;
  grid-gap: .3em;
}

.grid_items{
  margin: 5%;
}

.nav-faisbuc{
  color: rgba(255, 255, 255, .5) !important;
}

.nav-faisbuc:hover{
  color: rgba(255, 255, 255, 1) !important;
}

.footer_inside{
  background-color: rgba(219, 219, 219, .3);;
  height: 5rem;
  color: #4267B2;
  text-decoration: none;
}

.avatar_user{
  height: 2.5em;
  width: auto;
}

.btn_user{
  background: none;
  border: none;
  color: #fff;
}

.btn_user:focus{
  border:solid 1px #fff;
}

.comment img{
  height: 30px;
  width: auto;
}

.comment{
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 5px;
}
.content_reply a{
  color: black;
  font-weight: bold;
}

.content_reply p{
  margin: 5px;
  font-size: .7em;
  color: rgba(169, 169, 169, 1);
}

.text_reply{
  grid-column: 2 / 3;
}

/*=== Perfil ===*/

.perfil_caja{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.perfil_caja img{
  height: 8rem;
  width: auto;
}

.perfil_datos span{

  font-size: .7em;
  color: rgba(169, 169, 169, 1);
}

.alert .alert-danger {
  font-size: 10px;
}

.grid_form form{
  padding: 0;
}